@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@algolia/autocomplete-theme-classic/dist/theme.min.css";

:root {
  --aa-search-input-height: 33px;
  --aa-primary-color-rgb: 0, 0, 0;
}

.aa-Form {
  @apply rounded-primary border border-gray-200 dark:border-white/10 bg-white/30 dark:bg-white/10 focus-within:outline-none focus-within:border-primary-500 focus-within:ring-primary-500 focus-within:ring-1 transition;
}


.aa-Label svg {
  @apply w-4 h-4 text-gray-500 dark:text-white/50;
}

.aa-SubmitButton {
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}
.aa-Input {
  padding-left: 6px;
  @apply bg-white/30 dark:bg-white/10 text-sm text-gray-900 dark:text-white placeholder:text-gray-400 sm:text-sm font-sans;
}

.aa-Panel {
  @apply rounded-primary;
  z-index: 50;
  width: 100% !important;
  max-width: 600px !important;
}

.aa-Item[aria-selected=true] {
  @apply bg-primary-600 dark:bg-primary-900;
}


::selection,
::-moz-selection {
  background: #d2f7f9;
}

html,
body {
  @apply dark:bg-gray-900;
}

.underline-links a:not(.unstyled-link) {
  @apply border-primary-600 border-b font-semibold text-gray-900 no-underline transition hover:border-b-2 hover:text-gray-900 dark:text-white dark:hover:text-white/50;
}

.unstyled-link {
  @apply no-underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 80px !important;
}

.doc-content h1 {
  @apply inline-block text-3xl font-bold tracking-normal text-gray-900 !important;
}

.subheading {
  @apply mb-4 max-w-screen-lg text-lg font-medium text-gray-500 sm:text-2xl sm:leading-8;
}

.hiddenScrollbar::-webkit-scrollbar {
  display: none;
}

.hiddenScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Syntax highlighting */

pre {
  @apply rounded-primary overflow-x-auto bg-gray-800 p-6 text-sm text-white !important;
  line-height: 1.7142857 !important;
}
.prose :where(pre):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

/* Inline code snippets */
.prose *:not(pre) > :where(code):not(:where([class~='not-prose'] *)) {
  @apply text-primary-800 bg-primary-50/50 dark:text-primary-500 dark:bg-primary-900/20 rounded-[0.125rm] py-px px-1;
}
.note code {
  @apply dark:text-primary-800;
}

/* Large code blocks */
.prose pre :where(code):not(:where([class~='not-prose'] *)) {
  @apply text-primary-400 dark:text-primary-400;
}

code::before,
code::after {
  display: none;
}

.hero-gradient {
  background: linear-gradient(83.84deg, #0ea5e9 -3.34%, rgba(71, 201, 242, 0.133) 35.77%),
    linear-gradient(101.71deg, rgba(227, 167, 228, 0.047) 46.42%, #e879f9 94.51%),
    linear-gradient(149.12deg, #6d28d9 13.67%, rgba(51, 8, 173, 0) 86.42%);
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  @apply text-primary-400;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
  @apply text-cyan-400;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  @apply text-lime-300;
}

.token.punctuation,
.token.module,
.token.property {
  @apply text-sky-200;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.comment {
  @apply text-gray-400;
}

.token.deleted:not(.prefix) {
  @apply relative -mx-4 block px-4;
}

.token.deleted:not(.prefix)::after {
  content: '';
  @apply pointer-events-none absolute inset-0 block bg-rose-400 bg-opacity-25;
}

.token.deleted.prefix {
  @apply select-none text-gray-400;
}

.token.inserted:not(.prefix) {
  @apply -mx-4 block bg-emerald-700 bg-opacity-50 px-4;
}

.token.inserted.prefix {
  @apply select-none text-emerald-200 text-opacity-75;
}

.prose h2 a {
  border-bottom-width: 0px !important;
  font-weight: inherit !important;
}

.prose h3 a {
  border-bottom-width: 0px !important;
  font-weight: inherit !important;
}

.prose h2 a:hover {
  border-bottom-width: 2px !important;
}

.prose h3 a:hover {
  border-bottom-width: 2px !important;
}
